.new-icon {background:transparent url(new.bmp) center 0 no-repeat;}
.save-icon {background:transparent url(save.bmp) center 0 no-repeat;}
.delete-icon {background:transparent url(delete.bmp) center 0 no-repeat;}